<header>
  <h1>Books Inventory!</h1>
  <nav>
    <a href="/">Homepage</a>
    <a href="/authors">View authors</a>
    <a href="/genres">View genres</a>
    <a href="/publishers">View publishers</a>
  </nav>
</header>
